<h1><%= @cocktail.name %></h1>

<h3>Ingredients</h3>
<ol>
<% @cocktail.doses.each do |dose| %>
  <li><%= dose.ingredient.name %> - <%= dose.description %></li>
</ol>
<% end %>
<%= link_to 'Back', root_path %>
